.circle {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.columns {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    justify-items: center;
    padding-bottom: 1rem;
}